@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
    font-family: "Work Sans", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

  /* header styles */

  
  
  /* shared styles */
  .display-flex{
    display: flex;
  }
  .dark-1{
    color: #131313;
  }
  .dark-2{
    color:#424242 ;
  }
  .bgc-1{
    background-color: rgba(255, 144, 14, 0.1);
  }
  .dark-3{
    color: #727272;
  }
  .btn-bg{
    background-color: rgba(255, 144, 14, 1);
  }
  .main{
    max-width: 1440px;
    margin: 0 auto;
  }

  /* nav styles */
  .nav-title{
    font-size: 45px;
    font-weight: bold;

  }
  .nav-bar{
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1440px;
    align-items: center;
    
  }

  .nav-item{
    list-style: none;
    margin-right: 30px;
  }
  .nav-link{
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
  }
  /* banner styles */
.banner{
  max-width: 1440px;
  align-content: center;
  margin: 0 auto;
  
}
.banner-content{
  max-width: 862px;
  margin: 0 auto;
  text-align: center; 
  margin-bottom: 50px;
}
.banner-title{
  font-size: 4rem;
  font-weight: bold;
}
.banner-des{
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 32px;
}
.btn-primary{
  font-size: 1.25rem;
  font-weight: 600;
  border: none;
  border-radius: 8px;
  padding: 20px 25px;
  color: white;
}
.banner-img{
  width: 100%;
}

/* main styles */
.teams {
margin-top: 130px;
}
.img-container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}
 .feature-container{
  margin-left: 130px;
  max-width: 537px;
  align-content: center;
  
 } 
 .feature-title{
  font-size: 2.82rem;
 }
 .spn-1{
font-weight: 500;
 }
 .spn-2{
font-weight: bold;
 }
 .spn-3{
  color: rgba(255, 144, 14, 1);
  font-weight: bold;
 }
 .feature-des{
  margin: 28px auto;
 }

 /* mobile media query */
 @media screen and (max-width:576px) {
  .display-flex{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .img-container{
    display: grid;
    grid-template-columns: 1fr;
    margin: 0 auto;
  }
  .feature-container{
    margin: 0 auto;
    text-align: center;
  }
}


/* medium device */
@media screen and (min-width:577px) and (max-width:992px) {

.teams .display-flex{
  flex-direction: column;
  margin: 0 auto;
  }
  .img-container{
    justify-content: center;
    margin: 0 auto;
    justify-items: center;
  }
}
  